* {
	font-family: Arial;
}

body {
  background-color: #000000;
}

#canvas {
  background-color: #FFFFFF;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  margin-top: 4em;
}

#score {
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
}